.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    width: calc(100vw - 50px);
    max-width: 1280px;
    height: 220px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-size: cover ;
    background-position-y: -190px;
    background-image: url("https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
}
.imgContainer{
    margin-top: -50px;
    background-color: #fff;
    width: 110px;
    height: 110px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.heroImg{
    position: absolute;
    border-radius: 50%;
    outline: 5px solid #fff;
    /* margin-top: -50px; */
}
.heroName{
    /* font-family: 'Montserrat'; */
    font-size: 20px;
    font-weight: 600;
}
.heroFunction{
    font-size: 16px;
    font-weight: 600;
}
@media only screen and (max-width: 1007px) {
    .banner {
        height: 150px;
    }
  }
@media only screen and (max-width: 640px) {
    .banner{
        background-position-y: -50px;
    }
    .heroName{
        /* font-family: 'Montserrat'; */
        font-size: 20px;
    }
    .heroFunction{
        font-size: 16px;
        font-weight: 400;
    }
  }