.nav{
    width: fit-content;
    display: flex;
    flex-direction: row;
    background: #e1e1e1;
    /* background: linear-gradient(0deg, rgba(180,180,180,1),rgba(180,180,180,0.3)); */
}
.button{
    border: none;
    background-color: #c6c6c6;
    min-width: 150px;
    height: 40px;
    border-radius: 10px; 
    color: #818181;
    font-size: 14px;
    font-weight: 600;
    transition: .3s ease-in-out;
    cursor: pointer;
    
}
.button:hover{
    background: #ababab;
}
.buttonActive{
    width: 150px;
    min-width: 150px;
    border: none;
    border-radius: 10px; 
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center center;
}
.icon{
    position: absolute;
    left: 0;
}
@media only screen and (max-width: 1007px) {
    .nav{
        width: calc(100vw - 20px);
        overflow: hidden;
        overflow-x: auto;
    }
  }
@media only screen and (max-width: 640px) {

  }