.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 335px;
    margin-bottom: 50px;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3),
    3px 0 5px rgba(120,150,120,.3);
    background-color: #fff;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images{
    transition: .1s;
}
.images:hover{
    margin-top: -6px;
}
.span{
    font-size: 12px;
    font-weight: 600;
    display: none;
}
.shadow{
    width: 15px;
    height: 15%;
    background-color: #333333;
    opacity: .95;
    border-radius: 50%;
    transition: .9s ease-in-out;
}

.images:hover ~ .shadow{
    animation-name: anime-icon-in;
    animation-duration: .15s;
}
.images:not(:hover) ~.shadow{
    animation-name: anime-icon-out;
    animation-duration: .10s;

}
@keyframes anime-icon-in {
    from {
        width: 0;
    }
    to {
        width: 15px;
    }
}
@keyframes anime-icon-out {
    from {
        width: 15px;
    }
    to {
        width: 0;
    }
}

@media (max-width: 640px) {
    .container{
        width: 90%;
        margin: 20px;
        position: fixed;
        bottom: 0;
        z-index: 50;
        background-color: #fff;
        border-radius: 10px;
    }
}