.nav{
    width: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    background: #c6c6c6;
    border-radius: 10px;
    scrollbar-width: 0;
}
.button{
    border: none;
    background-color: #c6c6c6;
    min-width: 150px;
    height: 40px;
    border-radius: 10px; 
    color: #818181;
    font-size: 14px;
    font-weight: 600;
    transition: .3s ease-in-out;
    cursor: pointer;
    
}
.button:hover{
    background: #ababab;
}
.buttonActive{
    width: 150px;
    min-width: 150px;
    border: none;
    border-radius: 10px; 
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center center;
}
.icon{
    position: absolute;
    left: 0;
    
}


@media only screen and (max-width: 1007px) {
    .nav{
        /* width: auto ; */
        overflow: hidden;
        margin: 20px 0;
        overflow-x: auto;
        display: flex;
        max-width: 100%;
    }
  }